[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nettskjemar"]
	path = nettskjemar
	url = https://github.com/capro-uio/nettskjemar
