[submodule ".registry"]
	path = .registry
	url = https://github.com/capro-uio/capro-uio.r-universe.dev
	branch = HEAD
[submodule "nettskjemar"]
	path = nettskjemar
	url = https://github.com/capro-uio/nettskjemar
[submodule "neuromat"]
	path = neuromat
	url = https://github.com/capro-uio/neuromat
[submodule "tsdrtools"]
	path = tsdrtools
	url = https://github.com/capro-uio/tsdrtools
[submodule "uiothemes"]
	path = uiothemes
	url = https://github.com/capro-uio/uiothemes
